@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

body {
  background: #242D3B;
  font-family: 'Roboto', sand-sans-serif;
}

.container {
  max-width: 660px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background: #000 url(jobs.jpg)
  top center / cover;
  text-align: center;
  padding: 150px 0;
  color: #fff;
  border-bottom: 2px solid #89fcf3;
  box-shadow: 0 0 10px #89fcf3;
}

header h1 {
  color: #89fcf3;
  font-family: 'Permanent Marker', cursive;
  font-size: 7em;
  line-height: 0.8em;
  text-align: left;
  transform: skewY(-5deg);
  padding-bottom: 60px;
}

header h1 span {
  display: block;
  text-align: right;
}

header p {
  color: #A8E7E9;
  font-size: 30px;
  max-width: 540px;
  margin: 0 auto;
  backdrop-filter: blur(3px);
}

form {
  background: #151515;
  border-radius: 12px;
  padding: 50px;
  margin: -40px 0 150px;
  font-size: 28px;
  position: relative;
  box-shadow: 0 40px 50px -50px #89fcf3;
}

form input {
  display: block;
  width: 100%;
  border-radius: 12px;
  border: none;
  height: 68px;
  padding: 15px;
  background: #242D3B;
  color: #fff;
  transition: 0.5s;
}

form input:focus {
  outline: none;
  box-shadow: 0px 10px 30px -20px #89fcf3;
  filter: contrast(85%);
}

form label {
  color: #CCCDCF;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 15px;
}

form .subscribe {
  max-width: 300px;
  height: auto;
  background: #151515;
  border: #89fcf3 2px solid;
  border-radius: 45px;
  font-weight: bold;
  line-height: normal;
  margin: 0 auto -80px;
}

form .subscribe:hover {
  background: #89fcf3;
  color: #151515;
  cursor: pointer;
}

/* Mailchimp CSS */

form .mc-field-group {
  margin-bottom: 35px;
}

form .indicates-required {
  color: #CCCDCF;
  font-size: 0.5em;
  margin: 35px 0;
  text-align: center;
}

form input + .mce_inline_error {
  display: inline-block;
  font-size: 0.5em;
  position: relative;
}

form input + .mce_inline_error:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #6B0505;
  position: absolute;
  top: -10px;
}

form #mce-success-response {
  background: green;
  padding: 25px;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  transition: 1s;
  animation: response 1s forwards;
}

form #mce-error-response {
  background: #6B0505;
  padding: 25px;
  text-align: center;
  color: #fff;
  border-radius: 12px;
  transition: 1s;
  animation: response 1s forwards;
}

form #mce-error-response a {
  color: #fff;
}

form label .asterisk {
  color: #89fcf3;
  font-size: 0.5em;
  vertical-align: super;
}

@keyframes response {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  header {
    padding: 80px 0;
  }
  header h1 {
    font-size: 4em;
  }
}
